<!DOCTYPE html>
<html>

<body>

    <h2>Employee Details</h2>

    <form action="/user/add" method="POST">
        <label for="name">Name :</label><br>
        <input type="text" id="fname" name="name" value=""><br>
        <label for="name">Email :</label><br>
        <input type="text" id="lname" name="email" value=""><br>
        <label for="name">Age :</label><br>
        <input type="text" id="lname" name="age" value=""><br>
        <label for="name">City :</label><br>
        <input type="text" id="lname" name="city" value=""><br>
        <label for="name">Profession :</label><br>
        <input type="text" id="lname" name="profession" value=""><br>


        <br><br>
        <input type="submit" value="Submit">

    </form>

</body>

</html>